*.csv
*.npy
*.SAC
*.pkl
auto/data/2013-11-04-mb_lg32-illinois-0/
auto/data/2013-11-04-mb_lg32-illinois-1/
auto/data/2026-07-08-mb_lg29-illinois/
project/data/1994-01-17-mw67-southern-california/
project/data/1994-06-09-mw82-northern-bolivia/
project/data/1999-09-20-mw77-taiwan/
project/data/2005-03-28-mw86-northern-sumatra-indonesia/
project/data/2005-03-28-mw86-northern-sumatra-indonesia-big/
project/data/2011-01-01-mw70-santiago-del-estero-prov-arg/
project/data/2011-01-01-mw70-santiago-del-estero-prov-arg-big/
project/data/2020-12-29-mww64-northwestern-balkan-region/
project/data/2020-12-29-mww64-northwestern-balkan-region-big/
project/data/2021-10-10-ml62-hawaii/
project/data/2021-10-10-ml62-hawaii-big/
project/data/2022-05-26-mww72-central-peru/
